#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Noir avec 70% d'opacité */
  display: none; /* Caché par défaut */
  z-index: 999; /* Assurez-vous qu'il est en dessous de votre modale mais au-dessus du reste du contenu */
}
#monDisclosurePart {
  background-color: black;
  color: #f5f5f7;
  padding-top: 50px;
}

#monDisclosurePart h2 {
  padding-left: 30%;
  width: 10em;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#monContenu2 {
  display: flex;
  flex-direction: column;
}

#monContenu2 img {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

#monContenu2 button {
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  background-color: black;
  color: #f5f5f7;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
}
#monContenu2 button:hover {
  cursor: pointer;
}

#monContenu2 button:hover {
  color: #2d6ebb;
}

#image2 {
  width: 800px;
}
